<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Update</h1>
          <form action="/products/edit/{{task._id}}" method="post">
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="nombre"
                placeholder="Title"
                value="{{task.nombre}}"
              />
            </div>
        
              <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="tipo"
                placeholder="Tipo"
                value="{{task.tipo}}"
              />
            </div>

              <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="codigo"
                placeholder="Codigo"
                value="{{task.codigo}}"
              />
            </div>

                <div class="mb-3">
              <textarea
                class="form-control"
                name="descripcion"
                rows="3"
                placeholder="Descripcion"
              >{{task.descripcion}}</textarea>
            </div>

                 <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="precio"
                placeholder="Precio"
                value="{{task.precio}}"
              />
            </div>



            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>